.cell {
    background-color: blue;
    border-radius: 100%;
}

.miss {
    background-color: black;
}

.hit {
    background-color: red;
}

.notHit {
    background-color: blue;
}

.notHit:hover {
    background-color: darkorange;
}